body {
  font-family: "Courier New", Courier, monospace;
}

.calculator-container {
  display: grid;
  grid-template-columns: repeat(4, 60px);
  grid-template-rows: repeat(6, 60px);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-template-areas:
    "calc-display calc-display calc-display calc-display"
    "clear sign multiplication division"
    "num-seven num-eight num-nine addition"
    "num-four num-five num-six subtraction"
    "num-one num-two num-three equal"
    "num-zero num-zero decimals equal";
}

.calc-display {
  display: flex;
  background-color: lightskyblue;
  grid-area: calc-display;
  align-items: center;
  justify-content: end;
  padding-right: 8px;
  font-size: 36px;
  font-weight: 700;
}
.calculator-container button {
  display: flex;
  background-color: blanchedalmond;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 24px;
}

.calculator-container button:active {
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  background-color: rgb(255, 247, 235);
}

/* Operand button grid template areas */
.zero-btn {
  grid-area: num-zero;
}
.one-btn {
  grid-area: num-one;
}
.two-btn {
  grid-area: num-two;
}
.three-btn {
  grid-area: num-three;
}
.four-btn {
  grid-area: num-four;
}
.five-btn {
  grid-area: num-five;
}
.six-btn {
  grid-area: num-six;
}
.seven-btn {
  grid-area: num-seven;
}
.eight-btn {
  grid-area: num-eight;
}
.nine-btn {
  grid-area: num-nine;
}

/* Operator button grid template areas */
.divide-btn {
  grid-area: division;
}
.multiply-btn {
  grid-area: multiplication;
}
.subtract-btn {
  grid-area: subtraction;
}
.add-btn {
  grid-area: addition;
}

/* Special button grid template areas */
.sign-btn {
  grid-area: sign;
}
.decimal-btn {
  grid-area: decimals;
}
.equal-btn {
  grid-area: equal;
}
.clear-btn {
  grid-area: clear;
}
